<!DOCTYPE html>
<html>
<body>
	<center><h1>Hello , Welcome to my chat site ! {{request.user}}</h1></center>
	<br>
	<div
	class="chat__item__container"
	id="id_chat_item_container"
	style="font-size: 20px"
	>
	
		<h1>{{ group.name }}</h1>

		<div id="chat-history">
    		{% for message in messages %}
        	<p>{{ message.sender.username }}: {{ message.content }}</p>
    		{% endfor %}
		</div>
	</div>
	<br />
	<input type="text" id="id_message_send_input" />
	<button type="submit" id="id_message_send_button">Send</button>

	{{ pk|json_script:"groupId" }}
	<script>
	const groupId= JSON.parse(document.getElementById('groupId').textContent);
	const chatSocket = new WebSocket("ws://" + window.location.host + "/ws/" + groupId +"/");

	
	chatSocket.onopen = function (e) {
		console.log("The connection was setup successfully !");
	};
	chatSocket.onclose = function (e) {
		console.log("Something unexpected happened !");
	};
	document.querySelector("#id_message_send_input").focus();
	document.querySelector("#id_message_send_input").onkeyup = function (e) {
		if (e.keyCode == 13) {
		document.querySelector("#id_message_send_button").click();
		}
	};
	document.querySelector("#id_message_send_button").onclick = function (e) {
		var messageInput = document.querySelector(
		"#id_message_send_input"
		).value;
		chatSocket.send(JSON.stringify({ message: messageInput, username : "{{request.user.username}}"}));
	};
	chatSocket.onmessage = function (e) {
		const data = JSON.parse(e.data);
		var div = document.createElement("div");
		div.innerHTML = data.username + " : " + data.message;
		document.querySelector("#id_message_send_input").value = "";
		document.querySelector("#id_chat_item_container").appendChild(div);
	};
	</script>
</body>
</html>
